<!-- <ion-view view-title="RADIO PROJECT demo"> -->
  <!-- <ion-content> -->
    <!-- <center> -->
    <!-- <div > -->
      <div style="height: 100%; width: 100%; display: flex; flex-direction: column; align-items:center" class="padding" ng-if="!intro.status()">
        <div style="flex-grow: 1"></div>
        <button ui-sref="app.settings" class="button button-block button-dark button-outline">Configure</button>
        <button class="button button-outline button-positive button-block" ng-click="intro.connect()">Connect</button>
      </div>

      <div style="height: 100%; width: 100%; display: flex; flex-direction: column; align-items: center;" class="padding" ng-if="intro.status()">
        <div style="flex-grow: 1"></div>
        <button class="button button-block button-dark" ui-sref="app.recordings">Make Recordings</button>
        <button class="button button-stable button-block" ui-sref="app.classifiers">Use Classifier</button>
      </div>
    <!-- </div> -->
    <!-- </center> -->
  <!-- </ion-content> -->
<!-- </ion-view> -->
